/* @import url('https://fonts.googleapis.com/css?family=Cabin'); */
*{margin:0; padding:0; outline:0}
body{font-family: Arial; font-size:16px; line-height:18px;
 color:#000;
 background:url(images/bg11.jpg)repeat /* scroll */ fixed 0 0 #fff;
 
 }

.templete{width:1000px;  margin:0 auto; margin-bottom:10px;}
.clear{overflow:hidden;}

tbody{
	font-size: 16px;
	height: 279px;
}
input[type="text"] {
	width: 227px;
	height: 13px;
	font-size: 16px;
	border: 1px solid;
	color: #088c91e6;
	padding: 11px;
	border-radius: 4px;
}

input[type="submit"] {
	width: 78px;
	height: 27px;
	color: #047f9a;
	background: #fff;
	border: 1px solid #047f9a;
	font-size: 16px;
}

input[type="submit"]:hover {
	color: #FFF;
	background: #0F8696E6;
}

textarea {
	width: 231px;
	height: 110px;
	color: #088c91e6;
	font-family: arial;
	font-size: 16px;
	border: 1px solid #088c91e6;
	border-radius: 4px;
	padding: 9px;
}




.headerSection{
	height:85px; background:#1A7484; color:#fff;
	border-bottom: 3px solid #033761;}
.logo {/* float:left; */}
.logo img {
	float: left;
	
	height: 94px;
	width: 95px;
	
	
	margin-top: -4px;
	
	margin-left: 5px;
}
.logo h1 {
	font-size: 36px;
	text-align: left;
	padding: 30px;
	float: left;
	font-weight: bold;
}
.logo p {
	float: left;
	font-weight: bold;
	padding-top: 60px;
	margin-left: -452px;
	font-size: 17px;
	font-family: Maiandra GD;
	
}
.social{float:right;
padding: 22px;}
.social a{
	margin: 5px;

font-size: 40px;
	color: #32DEE7;
}
.social a:hover{ /*! background:#fff; */ color: #fdfafa;}

.social a i{}
/* .social img{
	padding: 10px; margin: 7px;
} */


.navigationSection {
	/* height:20px; */background:#0E8094; color:#fff; min-height:50px;}
.navigationSection ul{margin: 0; padding: 0; list-style: none;}
.navigationSection ul li{display: block; float: left; position:relative;}
.navigationSection ul li a{
	text-decoration:none;
	color: #fff;
	padding: 10px 74px !important;
	font-family: comic sans MS ;
	font-size: 22px;
	display: block;
	font-weight: bold;
	margin: 5px;
	background: #05A3ADE3;

	border-radius: 4px;
	transition:.50s;
}

.navigationSection ul li a:hover {background:#fff;
color:#202340;
transition:.25s;
}
#active{background:#fff;color:#202340}
/* .navigationSection p { 
	padding-left: 5px;
	font-weight:bold;
	font-family: Microsoft sans serif;
	font-size: 16px;
} */

.navigationSection ul li ul{position:absolute; left:-999999px; z-index:999;}
.navigationSection ul li:hover ul{left: 0px;    background: #1A7484;
    color: #f4f4fa;
	
}
.navigationSection ul li ul li{text-align: center;}
.navigationSection ul li ul li a{text-align: center;width:272px;
padding:5px;
margin:5px;
}





.sliderSection {
	box-shadow: 3px 2px 3px 1px #1A7484;
	width: 960px;
}
.contentSection {/* background:#61aeb0; */}
.mainContent {
	width: 649px;
	background: #afe2de;
	float: left;
	padding: 8px;
	margin: 10px;
	margin-left: 0;
	border: 1px solid;
	height: 1210px;
}

.About{}
.About img {
	width: 339px;
	height: 195px;
	float: left;
}
.FontIcon{font-size: 32px;text-align: right;}
.FontIcon i{/*! font-weight: 900; */font-size: ;}

.samepost{
	
}
.samepost h2,.About h2{
	background: #348B96E0;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 8px;
	border-bottom: 3px solid #13406c;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	font-family : 'Raleway', sans-serif;
	
}
.RelatedPosts{}
.RelatedPosts h2{}
.RelatedPosts a{}
.RelatedPosts a img {
	width: 301px;
	height: 93px;
	margin: 5px;
	padding: 5px;
	background: #fff;
	border: 2px solid #8619b0;
}
.RelatedPosts a img:hover{opacity:0.3}
.samepost img{
	float: left;
    margin-right: 17px;
    background: #fff;
    padding: 4px;
    border: 2px solid #13406c;
    width: 190px;
}
.samepost p, .About p {
	line-height: 20px;
	text-align: justify;
	font-size: 13px;
	padding: 5px;
}


.readmore{
	float :right;
	margin-top: -17px;
}

.readmore a {
	text-decoration: none;
	background: #fff;
	display: block;
	padding: 2px;
	font-size: 14px;
	border-radius: 2px;
	color: #047381;
	width: 79px;
	font-family: calibri;
	height: 26px;
	text-align: center;
	border: 1px solid #097c96;
	
	margin-top: 15px;
	margin-right: 6px;
}
.readmore a:hover {
	color: #FFF;
	background: #0F8696E6;
}

/* .mainContent p {
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 16px;
} */
.SlideBar{width:300px;background: #cbdfdf;float:right;padding:10px; 
	margin:10px 0px 10px 0px; 
	border: 1px solid;
 }
.sameSlideBar h2 {
	background: #1CA4D9;
	padding: 5px;
	margin-bottom: 7px;
	border-bottom: 2px solid #033761;
	color: #fff;
}
/* .sameSlideBar p{
	margin-bottom: 7px;
	border-bottom: 2px solid #033761;
} */

.sameSlideBar ul {
	margin: 14px;
	text-style: none;
	padding: 0;
	color: #006f81;
}
.sameSlideBar ul li {
	background: #E4E4E4;
	margin-bottom: 2px;
	padding: 5px 3px;
	font-size: 16px;
	border-bottom: 1px dashed #1CA4D9;
	
}
.sameSlideBar ul li:last-child{
	background: #E4E4E4;
	margin-bottom: 2px;
	padding: 5px 3px;
	font-size: 16px;
	border-bottom: 0px dashed #1CA4D9;
}
.sameSlideBar ul li a{text-decoration:none;color: #0779A5;}
.sameSlideBar ul li a:hover{color: #033761;}

.PopularPost{}
.PopularPost h3 {
	
	text-align: left;
	
	border-bottom: 2px dashed #0b0a0a99;
	color: #0b0a0a99;
	margin: 5px 5px 5px -3px;
	padding: 7px;
	
}
.PopularPost h3 a{   
 text-decoration: none;
}
.PopularPost a{}
.PopularPost a img {
	width: 91px;
	background: #fff;
	border: 2px solid #4931dc;
	padding: 3px;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	border-radius: 31px;
}
.PopularPost p{padding-bottom: 10px;}
.footerSection{
	height:50px;background:#1A7484;color:#fff;
	border-bottom: 2px solid #033761;
	border-top: 2px solid #033761;}
/* .footerSection p {
	font-weight: bold;
	font-family: Exo 2;
	font-size: 33px;
	padding-top: 15px;
	text-align: center;
} */
.footerMenu{}
.footerMenu p {
	text-align: center;
	padding-top: 16px;
	font-family: Arial;
	font-size: 17px;
}

/* .fixedIcon{position: fixed;left: 200px;top: 192px;width: 60px;}
.fixedIcon a{width: ;}
.fixedIcon a img{} */





/*Example*/
.myitems{font-size: 16px;text-align: justify;/*! border: 0 auto; */margin: 0 auto;}
.myitems p{background: #91d8d9;color: #476e70;border: 0px solid;padding: 4px;}
.items{
	height:130px;
	width:400px;
	margin:0px auto;
	position:relative;
	overflow:hidden;
	/*! padding-top: 10px; */
	margin-top: 10px;
	margin-bottom: 10px;
}
.items img{
	height:130px;
	width:400px;
	/*! padding-top: 10px; */
	/*! padding-bottom: 26px; */
	/*! margin-bottom: 10px; */
}
.shadow{
	background:rgba(0, 0, 0,.5);
	height:100%;
	width:100%;
	position:absolute;
	top:-100%;
	transition:1s;
}
.ourText{color: #fff; margin-top: 23px;border: 3px solid #fff;/*! padding-top: 2px; *//*! margin-bottom: 24px; */padding: 3px;width: 374px;/*! float-left: 0px; */margin-left: 9px;}
.ourText h2{text-align:center;margin-top: 3px;}
.ourText h3{text-align:center;margin-top: 30px; color: #fff;}

.items:hover .shadow{top:0}



/* MORE CSS3 */

.Photo{width: 300px;
		height: 100px;margin: 100px auto;margin-left: 136px;}
.Photo img{width: 300px;
		height: 100px;
		transition:0.5s;	
}

.Photo:hover img{
		/* transform:rotate(360deg); 
		transform:scale(1.2);
		transform:skew(30deg);
		
		transform:translatey(100px);
		*/
		transform:translatex(100px);
}

.googleMap{
	
}
#map {
      width: 100%;
      height: 300px;
 }

.myCounter{
	
	background: #6d3007;
	font-size: 44px;
	height: 16px;
	width: 200px;
	text-align: center;
	padding: 30px 0px;
	color: #06faeb;
	border: 5px solid #bc550de6;
	border-radius: 20px;
}



    /* Sort & Filter */
.sorting{}

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;

  color: #262524;
}




















